---
title: Verifying investor name
---

## Verifying investor name

As per the recent direction by CBDT, there will be a change in response feed that RTA receive for online PAN verification. This change is expected to be live by April 1st, 2024.

1. With respective to the above circular, Distributors to facilitate investor name as per the details available in investor PAN/ITD records for all the fresh folio creation request.
2. Additionally, If the Investor Name or DOB/DOI is different from the ITD records, first it should be rectified in ITD before submission of application / transaction.
3. In case of minor investor, Guardian Name and DOB will be mandatory.

If any of the above validations fails, transaction will get rejected at the time of processing.

In case of existing investors whose Name or DOB in the folio is not matching with the PAN/ITD, we request you to inform them to change their details either in the MF records or in the ITD before initiating an additional purchase or redemption.

Hence we recommend you to collect name from the investors exactly as per the PAN CARD. Highly recommended to communicate the same to the investors on your web/mobile apps to avoid any rejections from RTA.
