<style>
  .footer {
    border-top: 1px solid #F0F1F4;
  }

  .footer-links ul li {
    line-height: normal;
  }
  
  .footer-links ul li a {
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
  }

  .footer-copyright {
    border-top: 1px solid #F0F1F4;
  }

  @media(min-width: 1280px) {
    .footer-copyright {
      border: 0;
    }
  }
</style>

<footer class="footer pt-6 xl:pt-8 xl:pl-4 xl:pr-4 mt-8 flex items-center justify-between flex-wrap flex-col xl:flex-row">
  <div class="footer-links pb-6 xl:pb-0 w-full xl:w-auto">
    <ul class="flex items-center flex-wrap md:space-x-2 xl:space-x-8 text-size-12 md:text-size-14 gap-y-2.5 gap-x-6 md:gap-x-2 xl:gap-0">
      <li>
        <a href="https://fintechprimitives.com/api/" target="_blank">APIs</a>
      </li>
      <li>
        <a href="https://fintechprimitives.com/" target="_blank">Fintech Primitives</a>
      </li>
      <li>
        <a href="https://www.cybrilla.com/" target="_blank">Cybrilla Technologies</a>
      </li>
      <li>
        <a href="https://www.cybrilla.com/careers.html" target="_blank">Careers</a>
      </li>
      <li>
        <a href="https://www.cybrilla.com/contact-us.html" target="_blank">Contact us</a>
      </li>
    </ul>
  </div>
  <divc class="footer-copyright w-full xl:w-auto pt-4 xl:pt-0">
    <p class="text-primary-N20 m-0 font-normal text-size-12 md:text-size-14">Copyright 2009-<span class="current-year">21</span> &copy; Cybrilla Technologies</p>
  </div>
</footer>
