<div class="site-header py-5 mx-8">
  <nav>
    <ul class="flex items-center space-x-16">
      <li>
        <div class="search">
          <div class="input-wrapper relative flex items-center">
            <input 
              type="text"
              class="border border-primary-N20 bg-primary-N05 hover:bg-primary-N10 text-primary-N100 placeholder-primary-N30 focus:bg-white focus:border-primary-B100 w-full h-12 rounded-5 py-4 pl-4 pr-8 outline-none" 
              placeholder="Search"
            />
            <span class="absolute right-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><defs><style>.a{fill:#0f2c5e;}</style></defs><path class="a" d="M21.054,19.855l-4.436-4.425a6.4,6.4,0,1,0-.938.938L20.1,20.8a.671.671,0,1,0,.949-.949ZM6.583,11.4a5.065,5.065,0,1,1,5.065,5.065A5.065,5.065,0,0,1,6.583,11.4Z" transform="translate(-5.25 -5)"/></svg>
            </span>
          </div>
        </div>
      </li>
      <li>
        <%= active_link('APIs', 'https://fintechprimitives.com/api/') %>
      </li>

      <li>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle">About us</a>
          <ul class="dropdown-menu">
            <li><a href="https://fintechprimitives.com/" target="_blank">Fintech Primitives</a></li>
            <li><a href="https://www.cybrilla.com/" target="_blank">Cybrilla Technologies</a></li>
            <li><a href="https://www.cybrilla.com/careers.html" target="_blank">Careers</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>
