<div class="site-header py-7 mx-8">
  <nav>
    <ul class="flex items-center space-x-16">
      <li>
        <%= active_link('Home', '/') %>
      </li>
      <li>
        <%= active_link('APIs', 'https://fintechprimitives.com/api/') %>
      </li>

      <li>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle">About us</a>
          <ul class="dropdown-menu">
            <li><a href="https://fintechprimitives.com/" target="_blank">Fintech Primitives</a></li>
            <li><a href="https://www.cybrilla.com/" target="_blank">Cybrilla Technologies</a></li>
            <li><a href="https://www.cybrilla.com/careers.html" target="_blank">Careers</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>
