<div class="logo mb-5">
   <img src="/images/logo.png" />
</div>
<hr />
<div class="search mt-8 mb-8">
  <input
    type="search"
    class="border border-primary-N20 bg-primary-N05 hover:bg-primary-N10 text-primary-N100 placeholder-primary-N30 focus:bg-white focus:border-primary-B100 w-full h-12 rounded-5 p-4 outline-none"
    placeholder="Enter your text"
    id="search-field"
  />
</div>

<nav>
   <ul>
    <li class="mt-2 px-6"><a href="/" class="text-base-color">Introduction</a></li>
     <li class="mt-2 px-6"><a href="/pages/registration-and-sandbox" class="text-base-color">Registration and Sandbox</a></li>
     <li class="mt-2">
       <div class="collapse mb-2">
         <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
           <span class="collapse-icon mr-2">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
               <g transform="translate(0 16) rotate(-90)">
                 <g transform="translate(1.41 4.022)">
                   <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(0 1.179) rotate(-45)"></rect>
                   <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(6.761 7.949) rotate(-135)"></rect>
                 </g>
                 <rect class="b" fill="none" width="16" height="16" transform="translate(0 0)"></rect>
               </g>
             </svg>
           </span>
           Going Live
         </div>
         <div class="collapse-body hidden">
           <ul class="px-6">
             <li class="mt-2"><a href="/going-live/checklist" class="text-base-color">Overview</a></li>
             <li class="mt-2"><a href="/going-live/distributors-with-bse/" class="text-base-color">Distributors w/ BSE</a></li>
             <li class="mt-2"><a href="/going-live/distributors-with-rtas" class="text-base-color">Distributors w/ RTA</a></li>
           </ul>
         </div>
       </div>
     </li>
     <li class="mt-2">
       <div class="collapse">
         <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
           <span class="collapse-icon mr-2">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
               <g transform="translate(0 16) rotate(-90)">
                 <g transform="translate(1.41 4.022)">
                   <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(0 1.179) rotate(-45)"></rect>
                   <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(6.761 7.949) rotate(-135)"></rect>
                 </g>
                 <rect class="b" fill="none" width="16" height="16" transform="translate(0 0)"></rect>
               </g>
             </svg>
           </span>
           Identity
         </div>
         <div class="collapse-body hidden">
           <ul class="px-6">
             <li class="mt-2"><a href="/identity/overview" class="text-base-color">Overview</a></li>
             <li class="mt-2"><a href="/identity/kyc-check" class="text-base-color">Check the kyc status</a></li>
             <li class="mt-2">
               <a href="/identity/kyc-request" class="text-base-color">Perform digital kyc</a>
               <ul class="px-6">
                 <li class="mt-2"><a href="/identity/required-information" class="text-base-color">Required information</a></li>
               </ul>
             </li>
             <li class="mt-2"><a href="/identity/FAQs" class="text-base-color">FAQs</a></li>
           </ul>
         </div>
       </div>
     </li>
     <li class="mt-2">
       <div class="collapse">
         <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
           <span class="collapse-icon mr-2">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
               <g transform="translate(0 16) rotate(-90)">
                 <g transform="translate(1.41 4.022)">
                   <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(0 1.179) rotate(-45)"></rect>
                   <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(6.761 7.949) rotate(-135)"></rect>
                 </g>
                 <rect class="b" fill="none" width="16" height="16" transform="translate(0 0)"></rect>
               </g>
             </svg>
           </span>
           MF Orders
         </div>
         <div class="collapse-body hidden">
           <ul class="px-6">
             <li class="mt-2"><a href="/mf-transactions/overview" class="text-base-color">Overview</a></li>
             <li class="mt-2"><a href="/mf-transactions/investment-account" class="text-base-color">Open an investment account</a></li>
             <li class="mt-2"><a href="/mf-transactions/onetime-purchases" class="text-base-color">Create a onetime purchase</a></li>
             <li class="mt-2"><a href="/mf-transactions/recurring-purchases" class="text-base-color">Create a recurring purchase</a></li>
             <li class="mt-2"><a href="/mf-transactions/onetime-redemptions" class="text-base-color">Sell a mutual fund</a></li>
             <li class="mt-2"><a href="/mf-transactions/recurring-redemptions" class="text-base-color">Schedule a recurring withdrawal</a></li>
             <li class="mt-2"><a href="/mf-transactions/onetime-switches" class="text-base-color">Switch from one scheme to another</a></li>
             <li class="mt-2"><a href="/mf-transactions/recurring-switches" class="text-base-color">Schedule a recurring switch</a></li>
             <li class="mt-2">
               <strong>Appendix</strong>
               <ul class="px-6">
                 <li class="mt-2"><a href="/mf-transactions/order-states" class="text-base-color">Order States</a></li>
               </ul>
             </li>
             <li class="mt-2">
               <strong>Archives</strong>
               <ul class="px-6">
                 <li class="mt-2"><a href="/mf-transactions/onetime-purchases-old-apis" class="text-base-color">One time purchases w/ Old APIs</a></li>
                 <li class="mt-2"><a href="/mf-transactions/onetime-redemptions-old-apis" class="text-base-color">Sell a mutual fund w/ Old APIs</a></li>
               </ul>
             </li>
           </ul>
         </div>
       </div>
     </li>
      <li class="mt-2">
      <div class="collapse mb-2">
        <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
          <span class="collapse-icon mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <g transform="translate(0 16) rotate(-90)">
                <g transform="translate(1.41 4.022)">
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(0 1.179) rotate(-45)"></rect>
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(6.761 7.949) rotate(-135)"></rect>
                </g>
                <rect class="b" fill="none" width="16" height="16" transform="translate(0 0)"></rect>
              </g>
            </svg>
          </span>
            Payments
        </div>
        <div class="collapse-body hidden">
          <ul class="px-6">
            <li class="mt-2"><a href="/payments/overview" class="text-base-color">Overview</a></li>
            <li class="mt-2"><a href="/payments/nach" class="text-base-color">Setup recurring payments</a></li>
            <li class="mt-2">
               <strong>Appendix</strong>
               <ul class="px-6">
                 <li class="mt-2"><a href="/payments/payment-states" class="text-base-color">Payment States</a></li>
               </ul>
             </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="mt-2">
      <div class="collapse mb-2">
        <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
          <span class="collapse-icon mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <g transform="translate(0 16) rotate(-90)">
                <g transform="translate(1.41 4.022)">
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(0 1.179) rotate(-45)"></rect>
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(6.761 7.949) rotate(-135)"></rect>
                </g>
                <rect class="b" fill="none" width="16" height="16" transform="translate(0 0)"></rect>
              </g>
            </svg>
          </span>
          Investor Reporting
        </div>
        <div class="collapse-body hidden">
          <ul class="px-6">
            <li class="mt-2"><a href="/pages/workflows/investor-reporting" class="text-base-color">Overview</a></li>
            <li class="mt-2"><a href="/pages/workflows/investor-reporting-usage" class="text-base-color">Usage</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="mt-2">
      <div class="collapse mb-2">
        <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
          <span class="collapse-icon mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <g transform="translate(0 16) rotate(-90)">
                <g transform="translate(1.41 4.022)">
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(0 1.179) rotate(-45)"></rect>
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(6.761 7.949) rotate(-135)"></rect>
                </g>
                <rect class="b" fill="none" width="16" height="16" transform="translate(0 0)"></rect>
              </g>
            </svg>
          </span>
          General topics
        </div>
        <div class="collapse-body hidden">
          <ul class="px-6">
            <li class="mt-2"><a href="/pages/workflows/automated-communication" class="text-base-color">Automated communications with investors</a></li>
          </ul>
        </div>
      </div>
    </li>
   </ul>
 </nav>
 