<div class="logo mb-5">
  <img src="/images/logo.png" />
</div>
<hr />
<div class="search mt-8 mb-8">
  <input
    type="search"
    class="border border-primary-N20 bg-primary-N05 hover:bg-primary-N10 text-primary-N100 placeholder-primary-N30 focus:bg-white focus:border-primary-B100 w-full h-12 rounded-5 p-4 outline-none"
    placeholder="Enter your text"
    id="search-field"
    />
</div>
<nav>
  <ul>
    <li class="mt-2 px-6"> 
      <%= active_link('Introduction', '/') %>
    </li>
    <li class="mt-2 px-6"> 
      <%= active_link('Registration and Sandbox', '/pages/registration-and-sandbox/') %>
    </li>
    <li class="mt-2">
      <div class="collapse mb-2">
        <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
          <span class="collapse-icon mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <g transform="translate(0 16) rotate(-90)">
                <g transform="translate(1.41 4.022)">
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(0 1.179) rotate(-45)"></rect>
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(6.761 7.949) rotate(-135)"></rect>
                </g>
                <rect class="b" fill="none" width="16" height="16" transform="translate(0 0)"></rect>
              </g>
            </svg>
          </span>
          Going Live
        </div>
        <div class="collapse-body hidden">
          <ul class="px-6">
            <li class="mt-2">
              <%= active_link('Overview', '/going-live/checklist/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Distributors w/ BSE', '/going-live/distributors-with-bse/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Distributors w/ RTA', '/going-live/distributors-with-rtas/') %>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="mt-2">
      <div class="collapse">
        <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
          <span class="collapse-icon mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <g transform="translate(0 16) rotate(-90)">
                <g transform="translate(1.41 4.022)">
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(0 1.179) rotate(-45)"></rect>
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(6.761 7.949) rotate(-135)"></rect>
                </g>
                <rect class="b" fill="none" width="16" height="16" transform="translate(0 0)"></rect>
              </g>
            </svg>
          </span>
          Identity
        </div>
        <div class="collapse-body hidden">
          <ul class="px-6">
            <li class="mt-2">
              <%= active_link('Overview', '/identity/overview/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Check the kyc status', '/identity/kyc-check/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Perform digital kyc', '/identity/kyc-request/') %>
              <ul class="px-6">
                <li class="mt-2">
                  <%= active_link('Required information', '/identity/required-information/') %>
                </li>
              </ul>
            </li>
            <li class="mt-2">
              <%= active_link('FAQs', '/identity/FAQs/') %>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="mt-2">
      <div class="collapse">
        <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
          <span class="collapse-icon mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <g transform="translate(0 16) rotate(-90)">
                <g transform="translate(1.41 4.022)">
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(0 1.179) rotate(-45)"></rect>
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(6.761 7.949) rotate(-135)"></rect>
                </g>
                <rect class="b" fill="none" width="16" height="16" transform="translate(0 0)"></rect>
              </g>
            </svg>
          </span>
          MF Orders
        </div>
        <div class="collapse-body hidden">
          <ul class="px-6">
            <li class="mt-2">
              <%= active_link('Overview', '/mf-transactions/overview/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Open an investment account', '/mf-transactions/investment-account/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Create a onetime purchase', '/mf-transactions/onetime-purchases/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Create a recurring purchase', '/mf-transactions/recurring-purchases/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Sell a mutual fund', '/mf-transactions/onetime-redemptions/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Schedule a recurring withdrawal', '/mf-transactions/recurring-redemptions/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Switch from one scheme to another', '/mf-transactions/onetime-switches/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Schedule a recurring switch', '/mf-transactions/recurring-switches/') %>
            </li>
            <li class="mt-2">
              <strong>Appendix</strong>
              <ul class="px-6">
                <li class="mt-2">
                  <%= active_link('Order States', '/mf-transactions/order-states/') %>
                </li>
              </ul>
            </li>
            <li class="mt-2">
              <strong>Archives</strong>
              <ul class="px-6">
                <li class="mt-2">
                  <%= active_link('One time purchases w/ Old APIs', '/mf-transactions/onetime-purchases-old-apis/') %>
                </li>
                <li class="mt-2">
                  <%= active_link('Sell a mutual fund w/ Old APIs', '/mf-transactions/onetime-redemptions-old-apis/') %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="mt-2">
      <div class="collapse mb-2">
        <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
          <span class="collapse-icon mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <g transform="translate(0 16) rotate(-90)">
                <g transform="translate(1.41 4.022)">
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(0 1.179) rotate(-45)"></rect>
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(6.761 7.949) rotate(-135)"></rect>
                </g>
                <rect class="b" fill="none" width="16" height="16" transform="translate(0 0)"></rect>
              </g>
            </svg>
          </span>
          Payments
        </div>
        <div class="collapse-body hidden">
          <ul class="px-6">
            <li class="mt-2">
              <%= active_link('Overview', '/payments/overview/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Setup recurring payments', '/payments/nach/') %>
            </li>
            <li class="mt-2">
              <strong>Appendix</strong>
              <ul class="px-6">
                <li class="mt-2">
                  <%= active_link('Payment States', '/payments/payment-states/') %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="mt-2">
      <div class="collapse mb-2">
        <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
          <span class="collapse-icon mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <g transform="translate(0 16) rotate(-90)">
                <g transform="translate(1.41 4.022)">
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(0 1.179) rotate(-45)"></rect>
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(6.761 7.949) rotate(-135)"></rect>
                </g>
                <rect class="b" fill="none" width="16" height="16" transform="translate(0 0)"></rect>
              </g>
            </svg>
          </span>
          Investor Reporting
        </div>
        <div class="collapse-body hidden">
          <ul class="px-6">
            <li class="mt-2">
              <%= active_link('Overview', '/pages/workflows/investor-reporting/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Usage', '/pages/workflows/investor-reporting-usage/') %>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="mt-2">
      <div class="collapse mb-2">
        <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
          <span class="collapse-icon mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <g transform="translate(0 16) rotate(-90)">
                <g transform="translate(1.41 4.022)">
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(0 1.179) rotate(-45)"></rect>
                  <rect class="a" fill="/0f2c5e" width="1.667" height="9.575" rx="0.833" transform="translate(6.761 7.949) rotate(-135)"></rect>
                </g>
                <rect class="b" fill="none" width="16" height="16" transform="translate(0 0)"></rect>
              </g>
            </svg>
          </span>
          General topics
        </div>
        <div class="collapse-body hidden">
          <ul class="px-6">
            <li class="mt-2">
              <%= active_link('Automated communications with investors', '/pages/workflows/automated-communication/') %>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</nav>
