<div class="logo pt-5 mb-5">
  <a href="/">
  <img src="/images/logo.svg" style="width: 175px" />
  </a>
</div>
<hr />
<div class="search mt-8 mb-8">
  <div class="input-wrapper relative flex items-center">
    <input 
      type="text"
      class="border border-primary-N20 bg-primary-N05 hover:bg-primary-N10 text-primary-N100 placeholder-primary-N30 focus:bg-white focus:border-primary-B100 w-full h-12 rounded-5 py-4 pl-4 pr-8 outline-none" 
      placeholder="Search"
    />
    <span class="absolute right-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><defs><style>.a{fill:#0f2c5e;}</style></defs><path class="a" d="M21.054,19.855l-4.436-4.425a6.4,6.4,0,1,0-.938.938L20.1,20.8a.671.671,0,1,0,.949-.949ZM6.583,11.4a5.065,5.065,0,1,1,5.065,5.065A5.065,5.065,0,0,1,6.583,11.4Z" transform="translate(-5.25 -5)"/></svg>
    </span>
  </div>
</div>
<nav>
  <ul>
    <li class="mt-2 px-6"> 
      <%= active_link('Introduction', '/') %>
    </li>
    <li class="mt-2 px-6"> 
      <%= active_link('Registration and Sandbox', '/pages/registration-and-sandbox/') %>
    </li>
    <li class="mt-2">
      <div class="collapse mb-2">
        <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
          
          Going Live
        </div>
        <div class="collapse-body hidden">
          <ul class="px-6">
            <li class="mt-2">
              <%= active_link('Overview', '/going-live/checklist/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Distributors w/ BSE', '/going-live/distributors-with-bse/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Distributors w/ RTA', '/going-live/distributors-with-rtas/') %>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="mt-2">
      <div class="collapse">
        <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
          
          Identity
        </div>
        <div class="collapse-body hidden">
          <ul class="px-6">
            <li class="mt-2">
              <%= active_link('Overview', '/identity/overview/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Check the kyc status', '/identity/kyc-check/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Perform digital kyc', '/identity/kyc-request/') %>
              <ul class="px-6">
                <li class="mt-2">
                  <%= active_link('Required information', '/identity/required-information/') %>
                </li>
              </ul>
            </li>
            <li class="mt-2">
              <%= active_link('FAQs', '/identity/FAQs/') %>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="mt-2">
      <div class="collapse">
        <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
          
          MF Orders
        </div>
        <div class="collapse-body hidden">
          <ul class="px-6">
            <li class="mt-2">
              <%= active_link('Overview', '/mf-transactions/overview/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Open an investment account', '/mf-transactions/investment-account/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Create a onetime purchase', '/mf-transactions/onetime-purchases/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Create a recurring purchase', '/mf-transactions/recurring-purchases/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Sell a mutual fund', '/mf-transactions/onetime-redemptions/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Schedule a recurring withdrawal', '/mf-transactions/recurring-redemptions/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Switch from one scheme to another', '/mf-transactions/onetime-switches/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Schedule a recurring switch', '/mf-transactions/recurring-switches/') %>
            </li>
            <li class="mt-2">
              <strong>Appendix</strong>
              <ul class="px-6">
                <li class="mt-2">
                  <%= active_link('Order States', '/mf-transactions/order-states/') %>
                </li>
              </ul>
            </li>
            <li class="mt-2">
              <strong>Archives</strong>
              <ul class="px-6">
                <li class="mt-2">
                  <%= active_link('One time purchases w/ Old APIs', '/mf-transactions/onetime-purchases-old-apis/') %>
                </li>
                <li class="mt-2">
                  <%= active_link('Sell a mutual fund w/ Old APIs', '/mf-transactions/onetime-redemptions-old-apis/') %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="mt-2">
      <div class="collapse mb-2">
        <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
          
          Payments
        </div>
        <div class="collapse-body hidden">
          <ul class="px-6">
            <li class="mt-2">
              <%= active_link('Overview', '/payments/overview/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Setup recurring payments', '/payments/nach/') %>
            </li>
            <li class="mt-2">
              <strong>Appendix</strong>
              <ul class="px-6">
                <li class="mt-2">
                  <%= active_link('Payment States', '/payments/payment-states/') %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="mt-2">
      <div class="collapse mb-2">
        <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
          
          Investor Reporting
        </div>
        <div class="collapse-body hidden">
          <ul class="px-6">
            <li class="mt-2">
              <%= active_link('Overview', '/pages/workflows/investor-reporting/') %>
            </li>
            <li class="mt-2">
              <%= active_link('Usage', '/pages/workflows/investor-reporting-usage/') %>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="mt-2">
      <div class="collapse mb-2">
        <div class="collapse-title flex items-center font-opensans font-bold text-primary-N100 cursor-pointer">
          
          General topics
        </div>
        <div class="collapse-body hidden">
          <ul class="px-6">
            <li class="mt-2">
              <%= active_link('Automated communications with investors', '/pages/workflows/automated-communication/') %>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</nav>
